/*!still somethings to do!*/
body{ 
/*add font e redimencionar pra moble*/
font-family: 'Roboto', sans-serif;
  color: #342b38;
  position:relative;
  margin:0;
}
h2{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  
}
nav {
  position: sticky;
  font-family: 'Pacifico', cursive;
  z-index: 1;
  background-color: #ff9595;
  height: 40px;
}

a {
  text-decoration: none;
}

.logo{
  width: 20%;
  border: 0%;
  position: absolute;
  color: black;
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px #eeeeee;
 
}
.nav-link{
  color: white;
  text-shadow: 1px 1px #FF0000;
}
.nav-link:hover{
  color: #eeeeee; 

}
li{
  list-style-type:none;
  font-size: 25px;
}

ul{
  display: block;
  width: 70%;
  position: absolute;
  right:0px;
  display: flex; 
  justify-content: space-around;
  margin-top: 0px;
  margin-botton: 0px;
  
}
#section {
  padding: 30px 0 30px 0;
  text-align: center;
}
 form {
  text-align: center;
}

.content{
  margin:auto;
  width:60%;
  line-height: 1.5;
  text-align: justify;
  border-bottom:solid;
  border-width:thin;
}
.box{
  padding-bottom:30px;
}

.block{
  box-sizing: border-box;
  width: 250px;
  padding:0 0 20px 0;
  border: 1px solid black;
  /*border-style: double;*/
}
/*moble: em lista*/
.select {
  padding: 50px 0 50px 0;
  display: flex; 
  justify-content: space-around;
}
.product{
  margin:0;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  background: pink;
}
.price{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  line-height: 0;
}
span {
  text-align: center;
}
#submit{
  position: static;
  margin:auto;
  width:30%;
}
#video{ 
/*moble: tamanho menor*/
  padding-top:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  background-color: white;
}
.caption{
  margin-top: 0px;
}
.button{ 
/*moble: modificar o tamanho*/
  position:relative;
  left:30%;
  margin:auto;
  width:40%;
  border: 2px;
  color: white;
  background-color:#ff9900;
}
.button:hover {
  background-color:#fbc687;
}
footer {
  padding:10px 50px 10px 0;
  background-color: #342b38;
  text-align: right;
  color: white;
  font-style: italic;
}
