
.topo {
    width: 100%;
    opacity: 0.6;
    float: center;
    top: 0%;
    padding: 50px;
    background-color: black;
}

#navbar {
    position: fixed;
    background-color: #333;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
#navbar a {
   float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .box {
    float: center;
    width: 100%;
    padding: 50px;
    height: 520px;
    margin-top: 20px;
  }

.picard{
    background-image: url(picard.jpeg);
}
.picard:hover{
    background-image: url(picard-0.5.jpeg);
}
.janeway{
    background-image: url(janeway2.jpg);   
}
.janeway:hover{
    background-image: url(janeway2-0.5.jpg);   
}
.sisko{
    background-image: url(sisko.png);  
}
.sisko:hover{
    background-image: url(sisko-0.5.png);  
}

/*overlay*/

.overlay{
    color: white;
    position: relative;
    width: 100%;
    padding: 50px;
    height: 400px;
    opacity: 0.0;
    transition: 0.5s;
    animation-timing-function: ease;
    top: 0px;
    bottom: 0px;
    left:0%;
    z-index: 1;
}

.overlay:hover {
    opacity: 0.6;  
    background: black;
    width: 40%;
    left: 0%;
    /*box-shadow: 5px 5px 10px 20px black;*/
}
/*Mudar a direção da Jane: olha isso:
https://stackoverflow.com/questions/22928997/css-transition-two-directions
*/
.jane:hover{
    width: 45%;
    left: 49%;

}


