#navbar header{
  font-size: 1.5rem;
  text-align: center; 
  padding-top: 25px;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  right: 0px;
  height: 100%;
  border-color: rgba(0, 22, 22, 0.4);
  overflow-y: auto; /*Barra de rolamento*/
  overflow-x: hidden;
  z-index: 1;
}

#navbar ul {
  padding: 0;
  
}

#navbar li {
  border-top: 1px solid;
  list-style: none;
  position: relative;
  
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4d4d;
  text-decoration: none;
  text-align: left;
  
}

#main-doc {
  position: absolute;
  margin-right: 300px;
  padding: 20px;
  margin-bottom: 110px;
}

code {
  display: block;
  text-align: left;
  line-height: 1.5;
  background-color: #f2f2f2;
  padding: 15px 15px 15px 30px;
  margin: 10px;
  border-radius: 5px;
}

body {
  min-width: 290px;
  color: #4d4d4d;
  background-color: #ffffff;
  text-align: justify;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

#main-doc header {
  color: #f6f5f6;
  text-align: left;
  margin: 0px;
  font-size: large;
  background-color: #709fb0;
  padding: 10px 0px 10px 20px;
}

#main-doc article{
  margin: 20px;
}

.nav-link:hover {
    background-color: #f2f2f2;
}

@media screen and (max-height: 450px) {
#navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  }
  
  #navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  #navbar {padding-top: 15px;}
  #navbar a {font-size: 18px;}
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  #navbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
}